<div class="container-fluid pt-5">
 
  <div class="text-center">
    <h4>{{ page_title }}</h4>
  </div>
  <div class="row px-xl-5">
      <!-- Shop Sidebar Start -->
     
    <!-- Shop Sidebar End -->

<div class="col-lg-9 col-md-12">
    <div class="row pb-3">
   
{% paginate search.results by 2 %}

  {% if search.performed %}
    {% for item in search.results %}
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    
      <div class="card product-item border-0 mb-4">
      {% if item.featured_image %}
     
      <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
        <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
          
     <img class="img-fluid w-100" src="{{item.featured_image.src | img_url: 'medium'}}" alt="{{img_tag: item.featured_image.alt}}"> 
        </a>
        </div>
      {% endif %}
      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
      <h6 class="text-truncate mb-3">{{ item.title | link_to: item.url }}</h6>
      <div class="d-flex justify-content-center">
        <h6>{{item.price | money}}</h6><h6 class="text-muted ml-2"><del>$123.00rs</del></h6>
      </div>
      </div>
      <div class="card-footer d-flex justify-content-between bg-light border">
        <a href="{{ item.url | within: collection }}" class="btn btn-sm text-dark p-0" style="margin-left: 60px;"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
        
    </div>
     
    </div>
  </div>
    {% else %}
      no results
    
    {% endfor %}
  
  {% endif %}

  {% if paginate.pages > 1 %}
  <div class="col-12 pb-1">
    <nav role="navigation">
        <ol class="pagination pagination justify-content-center mb-3">
            {%- if paginate.previous-%}
            <li class="page-item">
                <a href="{{ paginate.previous.url }}" class="page-link">
                <span aria-hidden="true">&laquo;</span>
                <span class="visuallyhidden"></span>
                </a>
            </li>
            {%- else -%}
            <li class="page-item disabled">
                <a href="" class="page-link"><span aria-hidden="true">&laquo;</span></a>
                
            <span class="visuallyhidden"></span>
            </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
            {%- if part.is_link -%}
                <li class="page-item">
                <a href="{{ part.url }}" class="page-link">
                    <span class="visuallyhidden"></span> {{ part.title }}
                </a>
                </li>
            {%- else -%}
                {%- if part.title == paginate.current_page -%}
                <li class="page-item active" aria-current="page">
                   <a href="{{ part.title }}"   class="page-link">{{ part.title }}</a>
                </li>
                {%- else -%}
                <li class="page-item">
                    <span class="visuallyhidden"></span> {{ part.title }}
                </li>
                {%- endif -%}
            {%- endif -%}
            {%- endfor -%}

            {%- if paginate.next -%}
            <li class="page-item">
                <a href="{{ paginate.next.url }}" class="page-link">
                <span class="visuallyhidden"></span>
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {%- else -%}
            <li class="page-item disabled">
                <span class="visuallyhidden"></span>
                <a href="" class="page-link"> <span aria-hidden="true">&raquo;</span></a>
               
            </li>
            {%- endif -%}
        </ol>
    </nav>
    </div>
  
  {% endif %}
{% endpaginate %}
</div>
</div>
</div>
</div>